*{
margin:0px;	
padding: 0px;
}


.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	/*background: red;*/
	margin : 0 auto;

}
header {
	width: 100%;
	height: 100px;
	background: #A7F7FE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav {
	height: 60px;
	width: 80%;
	background: #EAFBD1;
	margin-bottom: 20px;
}
.menu {
	height: 700px;
	width: 100%;
	/*background: pink;*/
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

article {
	width: 60%;
	height: 700px;
	background: #B4D5FE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.blok {
	width: 80%;
	background: orange;
	height: 200px;
	margin-top: 10px;
}
aside {
	width: 30%;
	height: 700px;
	background:#B69CD9;
}
footer{
	height: 70px;
	width: 100%;
	background: #A7F7FE;
	margin-top: 10px;
}