
* {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	/*background: red;*/
     margin: 0 auto;
}

header {
	width: 100%;
	height: 60px;
	background: #FCE9D9;
	margin-top:  20px;
	border: 2px solid orange;
}
.menu {
	width: 100%;
	height: 600px;
   display: flex;
/*   background: blue;*/
   justify-content: space-between;
   margin-top: 20px;
}

.navigation {
	width: 30%;
	height: 600px;
	background: #FCE9D9;
	border: 2px solid orange;
}
article {
	width: 60%;
	height: 600px;
	/*background: green;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.calom {
	width: 100%;
	height: 200px;
	background: #FCE9D9;
	border: 2px solid orange;
	margin-top: 10px;
	text-align: center;
	

}
footer{
	width: 100%;
	background: #F4F8EF;
	border: 2px solid green;
	height: 50px;
	margin-top: 10px;
	text-align: center;
}